<configuration>

        <property name="SEARCHED_PRODUCT_ID_LOG_PATTERN"
                  value="{&quot;metadata&quot;:{&quot;timestamp&quot;:&quot;%d{yyyy-MM-dd HH}&quot;}, &quot;productId&quot;:&quot;%X{productId}&quot;}%n" />

        <property name="SEARCHED_QUERY_LOG_PATTERN"
                  value="{&quot;metadata&quot;:{&quot;timestamp&quot;:&quot;%d{yyyy-MM-dd HH}&quot;}, &quot;query&quot;:&quot;%X{query}&quot;,&quot;detail&quot;:&quot;%X{detail}&quot;,&quot;location&quot;:&quot;%X{location}&quot;}%n"
        />

</configuration>